*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}


.container{
font-family: "Poppins", sans-serif;
background-color: rgb(255, 255, 255);
max-width: 1440px;
margin: 0 auto;
padding: 90px 120px 0 120px;
}
/* Dark-1 */
.dark-1{
color: #3A3A3A;
}
/* Dark-2 */
.dark-2{
color: #787885;
}
/* header style starts */
nav,.dark-1{
display: flex;
justify-content: space-between;
align-items: center;

}

nav ul{
list-style: none;
display: flex;
align-items: center;

}
nav ul li{
margin: 0 34px;
transition: .3s;
}

nav ul a{
text-decoration: none;
font-size: 1rem;
}
nav ul li:hover{
transform: scale(1.5);
}
nav ul li button{
border: none;
background-color: transparent;
height: 24px;
width: 24px;
padding: 2px;
cursor: pointer;
}

/* banner style */
.banner{
margin-top: 80px;
display: flex;
align-items: center;

justify-content: space-between;
}
.banner-left h1,.dark-1{
font-size: 3.25rem;
font-weight: bold;
}
.banner-left p,.dark-1{
font-size: 1rem;
font-weight: 600;
margin: 16px 0;
}
.preebook{
cursor: pointer;
padding: 10px 56px 10px 24px;
margin-top: 16px;
border-radius: 41px;
display: inline;
color:rgba(255, 255, 255, 1) ;
background-color:rgba(224, 44, 109, 1);
font-size: 1rem;
font-weight: bold
}
.preebook:hover{
background-color: black;
color: wheat;
transition: .9s;
}
.banner-right{
background-image: url(images/Circle\ design.svg);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.banner-right img{
margin: 30px 30px 30px 2px;
width: 440px;
height: 414px;
}

/* main style */

.flex-container{

margin-left: 160px;
margin-right: 160px;
box-shadow:0px 0px 40px 0px rgba(0,0,0,0.15);
max-width: 1110px;
margin: 0 auto;
padding: 35px;
/* margin: 35px 60px; */
display: flex;
align-items: center;
justify-content: center;
gap: 61px;
}

/* style card */
.popular{
font-size: 1.75rem;
font-weight: 700;
text-align: center;
padding-top: 100px;
padding-bottom: 30px;
}
.card-container{
max-width: 1147px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
gap:20px ;
flex-wrap: wrap;
flex-direction: row;

}
.card{
max-width: 325px;
padding: 15px 17px;
border-radius: 5px;
box-shadow:0px 0px 40px 0px rgba(0,0,0,0.15);
transition:.9s;
}
.card:hover{
cursor: pointer;
transform: scale(1.03);
background-color: #8b8b93;
color: white;
}

.img{
border-radius: 5px;
width: 100%;
}
.card-body h3{
font-size: 1.75rem;
font-weight: 500;
padding-top: 16px;
}
.dolar{
font-size: 1.5rem;
padding: 5px 0;
}
.star{
font-size: 1.1rem;
}

.star button{
border: none;
color: orange;
background-color: transparent;
}
.para{
font-size: 1.1rem;
font-weight: bold;
}

.see-more{
max-width: 1147px;
color: rgba(224, 44, 109, 0.87);
text-align: right;
cursor: pointer;
}


/* article style */
article{
margin-top: 100px;
}
.article-container{

max-width: 1110px;
margin: 0 auto;

display: flex;
gap: 95px;
align-items: center;
}
.article-left img{
width: 400px;
height: 270px;
}
.article-right h2{
font-size:2.375rem ;
font-weight: bold;
margin-bottom: 16px;
}
.amet{
font-size: 1rem;
font-weight: bold;
color:#6C6C6C;
margin-bottom: 16px;
}

.join{
transition:.9s;
background-color: #E02C6D;
color: #FFFFFF;
padding: 10px 56px 10px 24px;
display: inline-block;
cursor: pointer;

}

.join:hover{
transform: scale(1.03);
background-color: #0A0826;
color: white;
border-radius: 50px;
}
/* footer style */
footer{
max-width: 1440px;
background-color: #0A0826;
}
.footer{

margin: 0 auto;
text-align: center;
padding: 50px 0;
margin-top: 100px;
}

.footer h2{
font-size:1.5rem;
font-weight: bold;
color: white;

}
.footer p{
font-size: 0.875rem;
color: #D9DBE1;
line-height: 24px;
}
.footer .btn{
height: 32px;
width: 32px;
color: white;
background-color: #0e0b36;
border: none;
font-size: 1rem;
border-radius: 50%;
margin: 10px;
cursor: pointer;
}


/* responsive device */
@media screen and (max-width:576px) {
          body{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          }
          .container{
          padding: 10px;
          margin: 10px;
          }
          nav,nav ul,
          .flex-container
          ,.card-container
          ,.article-container{
          flex-direction: column;
          }
          nav ul li{
          margin: 10px;
          }
          .banner{
          flex-direction: column-reverse;
          }
          .preebook{
          display: block;
          margin: 0 50px;
          text-align: center;
          }
          .banner-right img{
          margin-top: 30px;
          height: 100%;
          width: 100%;
          
          }
 .flex-container{
text-align: center;
gap: 20px;
 }
.see-more{
text-align: center;
}
 .article-container{
gap: 20px;
 }
 .article-left img{
width: 100%;
height: 100%;
 }
 .join{
display: block;
margin: 0 75px;
text-align: center;
 }




}